[submodule "snippets/puppet-mode"]
	path = snippets/puppet-mode
	url = git@github.com:marcocen/yasnippet-puppet.git
[submodule "packages/rtliber"]
	path = packages/rtliber
	url = git@github.com:marcocen/rtliber.git
